
html {
  scroll-behavior: smooth;
}
header, section, footer {
  min-width: 1100px;
}
section .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  background-size: cover;
  background-position: center 550px;
  text-align: center;
}
section .content h2 {
  color: #ffffff;
  font-size: 50px;
}
section .content p {
  width: 300px;
  color: rgba(234, 234, 234, 0.6);
  font-size: 16px;
  font-weight: normal;
}
section .content .btn {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  background: none;
  padding: 5px 70px;
  cursor: pointer;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}
section .content .btn:hover {
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

section .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 800px;
  margin: 50px auto;
  text-align: center;
}
section .container .item span {
  font-size: 15px;
}
section .container .item a {
  position: relative;
  display: block;
  margin: 30px auto 10px auto;
  top: 0;
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 100px;
  box-shadow: 0 5px 5px #aaa;
  transition: 0.2s;
}
section .container .item a:hover {
  top: 5px;
}
section .container .item a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  height: 0;
  width: 0;
  transition: 0.2s;
}
section .container .item a:hover::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.3);
}
section .form {
  height: 400px;
  width: 800px;
  background: #fcfcfc;
  box-shadow: 0 5px 5px #aaa;
  border-radius: 50px;
  margin: 100px auto;
  text-align: center;
  overflow: hidden;
}
section .form .container2 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 0;
  transition: 0.2s;
}
section .form .inner {
  width: 800px;
}
section .form .innerName {
  width: 800px;
}
section .form .innerName .namebox {
  margin: 0 auto 25px auto;
  padding: 8px;
  width: 170px;
  display: block;
}
section .form .innerName h3 {
  padding-bottom: 25px;
}
section .form h2 {
  font-size: 30px;
  padding: 60px;
}
section .form h3 {
  font-size: 25px;
  padding-bottom: 70px;
}
section .form .btn {
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  background: none;
  margin: 0 10px 30px 10px;
  width: 100px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
section .form .submit {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  background: none;
  margin: 30px;
  width: 260px;
  height: 70px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
}
section .form .btn:hover {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
}
section .form .submit:hover {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 70px;
  padding: 30px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
}
